<div>
  <div id="footer" class="jumbotron footer" style="margin-bottom:0">
  
    <div class="main-content">
      <div class="left box">
        <h2>About Us</h2>
        <div class="content">
          <p style="color: white;">At FreeShare, not only do we provide acces to conversations with psychologists, but we also provide acces to many other activities where you can watch, talk and share whatever you want. Our main goal is to empower people to free their mind, share their thoughts, understand themselves, and make a difference in their lives by changing their negative thoughts into positive ones.</p>
          
        </div>
      </div>
  
      <div class="center box">
        <h2>Adress</h2>
        <div class="content">
          <div class="place" style="color: white;">
            <span class="fas fa-map-marker-alt" style="margin-right: 5px; color: white;"></span>
            <span class="text" style="color: white;">Mohammedia, Morocco</span>
          </div>
          <div class="phone">
            <span class="fas fa-phone" style="margin-right: 5px; color: white;"></span>
            <span class="text" style="color: white;">+212-682861787</span>
          </div>
          <div class="email">
            <span class="fas fa-envelope" style="margin-right: 5px; color: white;"></span>
            <span class="text" style="color: white;">contact@gmail.com</span>
          </div>
        </div>
      </div>
  
      <div class="right box">
        <h2>Quick Links</h2>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Terms and conditions</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>
  
    </div>
  </div>

  <div class="copyrightText">
    <p>Copyright © 2020 Y.O.N . All Rights Reserved.</p>
  </div>


</div>


