<mat-form-field style="width: 100%;">
    <input  color="warn" [(ngModel)]="suggestion.nomFilm"  matInput placeholder="Nom Film">
  </mat-form-field>
  <mat-form-field style="width: 100%;">
    <mat-label>Sujet</mat-label>
    <textarea  color="warn" [(ngModel)]="suggestion.message"  matInput placeholder="Description"></textarea>
  </mat-form-field>
  <div mat-dialog-actions>
    <button [disabled]="submited" mat-raised-button class="primary" (click)="onNoClick()">Annuler</button>
    <button [disabled]="submited" mat-raised-button (click)="create()" >Créer</button>
    <mat-progress-bar [ngClass]="submited ? 'none' : 'hidden'" style="margin-top: 20px;" mode="indeterminate"></mat-progress-bar>
  </div>