<div class="wrapper">  
    <div class="center">
        <h1>Welcome to</h1>
        <img src="/assets/pics/Freesharee.png">
        <h2>Start your journey by joining us</h2>
    
        <div class="buttons">
          <button routerLink="/About" class="btn">About Us</button>
          <button routerLink="/Login" class="btn">Join us</button>
        </div>
    </div>
</div>

<div>
    <!-- section 1 -->

    <div class="container">
    
        <div class="section1">
            <img src="/assets/pics/click.jpg">
            <div class="paragraphe">
                <h1>About FreeShare</h1>
                <p>At FreeShare, not only do we provide acces to conversations with psychologists, but we also provide acces to many other activities where you can watch, talk and share whatever you want. Our main goal is to empower people to free their mind, share their thoughts, understand themselves, and make a difference in their lives by changing their negative thoughts into positive ones.
                As we respect each person's privacy, our socially conscious psychologists provide confidential  therapy to individuals. There's nothing to worry about, reach out for us and see if FreeShare is right for you.
                </p>
            
            </div>
        </div>
        
        <div class="container1">
            <h1>What's in there for you ?</h1>
            <div class="container2">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="/assets/pics/chat.jpg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">Chat with professionals psychologists</h4>
                      <p class="card-text">FreeShare allows you to have conversations with professional psychologists where you can talk, ask questions, free your mind and share every single thought you have. These profesionnals  are ready to provide you with all the answers you want.</p>
                    </div>
                  </div>
            
                  <div class="card" style="width:400px">
                    <img class="card-img-top" src="/assets/pics/post.jpg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">Express yourself through posts</h4>
                      <p class="card-text">FreeShare allows you to post whatever you want in a sort of a forum where you get to share you thoughts, interests, news and everything you want. </p>
                    </div>
                  </div>
        
                  <div class="card" style="width:400px">
                    <img class="card-img-top" src="/assets/pics/watch.jpeg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">Watch your favorite programs</h4>
                      <p class="card-text">FreeShare allows you to watch your favorite movies and TV shows from different categories. Once you got your title on the screen, you can watch your program at the very same moment. Whether you want to watch or suggest some programs, FreeShare is the best place for you.</p>
                    </div>
                  </div>
            </div>
            <div class="container3">
                <img src="/assets/pics/JoinUss.jpg">
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>


