
<div style="background-color: rgb(210, 229, 247);">
  <div class="container5">
    <span style="font-family: 'calligraffitti'; font-size: 100px;margin-top: 10px;font-weight: bold;">FreeShare</span>
  </div>
    <div class="container4">
        <img src="/assets/pics/about-us.png">
    </div>

    
    <div class="container3">
        <div class="card1">
            
            <div class="card-body">
              <p>
                Covid 19 a rendu la vie plus difficile pour les gens. Les gens partout dans le monde ont dû rester à la maison pendant un long moment, et ceci a eu un impact négatif sur leur santé psychologique.  En fait, pendant cette pandémie, les gens avaient besoin de changer de routine et de changer leurs habitudes pour rehausser leur humeur, leur psychologie et être plus optimistes.  
                Ainsi, en tant qu'étudiants ingénieurs de l'ENSET, nous avons décidé de créer cette plateforme qui contient toutes sortes d'amusement, des films  et même une rubrique spécifique d'aide psychologique.
              </p>
            <p>
                Chez FreeShare, non seulement nous fournissons un accès aux conversations avec des psychologues, mais nous fournissons également un accès à de nombreuses autres activités où vous pouvez regarder, parler et partager ce que vous voulez. Notre objectif principal est de donner aux gens les moyens de libérer leur esprit, de partager leurs pensées, de se comprendre et de faire une différence dans leur vie en changeant leurs pensées négatives en pensées positives.
                Comme nous respectons la vie privée de chaque personne, nos psychologues socialement conscients fournissent une thérapie confidentielle aux individus. Il n'y a rien à craindre, FreeShare est fait pour vous.  
            </p>
            </div>
          </div> 
    </div>
    <div style="width: 100%;height: auto;text-align: center;"> 
      <img width="50%"  src="/assets/pics/EnsetLogo.png">
    </div>
    <div class="section1">
        <div class="paragraphe">
            <h1>ENSET</h1>
            <p>L’ENSET est un parmi d’autres établissements qui ont pour vocation la formation des cadres ingénieurs et formateurs de hauts niveaux, capables de répondre aux orientations nationales dans les domaines suivants :
                Ingénierie Informatique et Technologie de l’Information,
                Ingénierie Mécanique et Logistique Industrielle,
                Génie Electrique, Electronique et Energies renouvelables,
                Ingénierie Financière et Marketing,
                et L’ingénierie Pédagogique et Sciences de la communication.
                L’ENSET, composante de l’université Hassan II de Casablanca partenaire de toute initiative de développement des ressources humaines, est désormais répertoriée parmi les établissements universitaires participant à la formation de cadres moyens et supérieurs.
            </p>
        </div>
        <img src="/assets/pics/enset.jpg">
    </div>


    <div class="team-section">
        <h1>Notre Equipe</h1>
    
        <div class="container2">
    
            <div class="card" style="width:400px">
                <img src="/assets/pics/Eleve.png">
                <div class="card-body">
                  <h4 class="card-title">Omar Ait Ouaksas</h4>
                  <p class="card-text">Software Engineer</p>
                </div>
              </div>
    
              <div class="card" style="width:400px">
                <img src="/assets/pics/EleveF.png">
                <div class="card-body">
                  <h4 class="card-title">Nohayla Zaoui</h4>
                  <p class="card-text">Software Engineer</p>
                </div>
              </div>
    
              <div class="card" style="width:400px">
                <img src="/assets/pics/Eleve.png">
                
                
                <div class="card-body">
                  <h4 class="card-title">Youssef Bichou</h4>
                  <p class="card-text">Software Engineer</p>
                </div>
              </div>
    
        </div>
    
    </div>
</div>

<app-footer></app-footer>



